<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80cfdd">  <td>19/03/03 17:24:53</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:vendor.framework.testcases.TC001_SearchVendor@37afeb11]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="80cfdd">  <td>19/03/03 17:24:39</td>   <td>-13753</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:vendor.framework.testcases.TC001_SearchVendor@37afeb11]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="80cfdd">  <td>19/03/03 17:24:40</td>   <td>-13190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:vendor.framework.testcases.TC001_SearchVendor@37afeb11]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="80cfdd">  <td>19/03/03 17:24:39</td>   <td>-14128</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:vendor.framework.testcases.TC001_SearchVendor@37afeb11]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="80cfdd">  <td>19/03/03 17:24:53</td>   <td>-378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:vendor.framework.testcases.TC001_SearchVendor@37afeb11]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="cddd80">  <td>19/03/03 17:24:46</td>   <td>-7426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_SearchVendor.searchVendor(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:vendor.framework.testcases.TC001_SearchVendor@37afeb11]">searchVendor</td> 
  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="cddd80">  <td>19/03/03 17:24:39</td>   <td>-13768</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_SearchVendor.setData()[pri:0, instance:vendor.framework.testcases.TC001_SearchVendor@37afeb11]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@68377659</td>   <td></td> </tr>
</table>
